In [6]:
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine
import pandas as pd

# Load environment variables from .env file
load_dotenv()

# Get the database connection details from the environment
db_name = os.getenv('DB_NAME')
db_user = os.getenv('DB_USER')
db_password = os.getenv('DB_PASSWORD')
db_host = os.getenv('DB_HOST')
db_port = os.getenv('DB_PORT')

# Create the connection string
connection_string = f"postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}"

# Create the engine
engine = create_engine(connection_string)

# Example query (modify as needed)
df_engagement = pd.read_sql("SELECT * FROM user_engagement", engine)
df_experience = pd.read_sql("SELECT * FROM xdr_data", engine)

# Print the dataframes to confirm successful connection
print(df_engagement.head())
print(df_experience.head())

        user_id  session_frequency  session_duration  total_traffic
0  2.082018e+14                  2          140845.0   1.276832e+09
1  2.082014e+14                  1           85950.0   8.926375e+08
2           NaN                  9        37507441.0   2.815223e+11
3  2.082014e+14                  1           26612.0   3.209849e+08
4  2.082003e+14                  1           51265.0   5.779483e+08
      Bearer Id            Start  Start ms              End  End ms  \
0  1.311448e+19   4/4/2019 12:01     770.0  4/25/2019 14:35   662.0
1  1.311448e+19   4/9/2019 13:04     235.0   4/25/2019 8:15   606.0
2  1.311448e+19   4/9/2019 17:42       1.0  4/25/2019 11:58   652.0
3  1.311448e+19   4/10/2019 0:31     486.0   4/25/2019 7:36   171.0
4  1.311448e+19  4/12/2019 20:10     565.0  4/25/2019 10:40   954.0

   Dur. (ms)          IMSI  MSISDN/Number          IMEI  \
0  1823652.0  2.082014e+14   3.366496e+10  3.552121e+13
1  1365104.0  2.082019e+14   3.368185e+10  3.579401e+13
2  1361762.0  2.082003e+14   3.376063e+10  3.528151e+13
3  1321509.0  2.082014e+14   3.375034e+10  3.535661e+13
4  1089009.0  2.082014e+14   3.369980e+10  3.540701e+13

      Last Location Name  ...  Youtube DL (Bytes)  Youtube UL (Bytes)  \
0  9.16456699548519E+015  ...          15854611.0           2501332.0
1                L77566A  ...          20247395.0          19111729.0
2                D42335A  ...          19725661.0          14699576.0
3                T21824A  ...          21388122.0          15146643.0
4                D88865A  ...          15259380.0          18962873.0

   Netflix DL (Bytes)  Netflix UL (Bytes)  Gaming DL (Bytes)  \
0           8198936.0           9656251.0        278082303.0
1          18338413.0          17227132.0        608750074.0
2          17587794.0           6163408.0        229584621.0
3          13994646.0           1097942.0        799538153.0
4          17124581.0            415218.0        527707248.0

   Gaming UL (Bytes)  Other DL (Bytes)  Other UL (Bytes)  Total UL (Bytes)  \
0         14344150.0       171744450.0         8814393.0        36749741.0
1          1170709.0       526904238.0        15055145.0        53800391.0
2           395630.0       410692588.0         4215763.0        27883638.0
3         10849722.0       749039933.0        12797283.0        43324218.0
4          3529801.0       550709500.0        13910322.0        38542814.0

   Total DL (Bytes)
0       308879636.0
1       653384965.0
2       279807335.0
3       846028530.0
4       569138589.0

[5 rows x 55 columns]

In [7]:
# Ensure data is loaded before proceeding
if df_engagement is not None and df_experience is not None:
    # Merge datasets on 'user_id' (make sure this key is available in both tables)
    df_combined = pd.merge(df_engagement, df_experience, left_on='user_id', right_on='IMSI', how='inner')

    # Calculate engagement and experience scores
    df_combined['engagement_score'] = df_combined[['session_frequency', 'session_duration', 'total_traffic']].mean(axis=1)
    df_combined['experience_score'] = df_combined[['Avg RTT DL (ms)', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)']].mean(axis=1)

    # Handle missing values (Option 1: Drop rows with missing values)
    df_combined = df_combined.dropna(subset=['engagement_score', 'experience_score'])

    # Perform KMeans clustering
    X = df_combined[['engagement_score', 'experience_score']].values
    kmeans = KMeans(n_clusters=2, random_state=0).fit(X)

    # Assign cluster labels
    df_combined['cluster'] = kmeans.labels_

    # Cluster summary
    cluster_summary = df_combined.groupby('cluster')[['engagement_score', 'experience_score']].mean()
    print("Cluster Summary:")
    print(cluster_summary)

    # Optionally, save the resulting dataframe back to your database
    df_combined.to_sql('clustered_user_data', engine, if_exists='replace', index=False)

else:
    print("Failed to load data.")

Cluster Summary:
         engagement_score  experience_score
cluster
0            3.068169e+08       5059.386922
1            9.385327e+10       4388.218805